In [4]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
dist=pd.read_csv("2015_16_Districtwise.csv")

In [6]:
dist

,AC_YEAR,STATCD,DISTCD,STATNAME,DISTNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,...,UUNI_ALL,UUNI_SC,UUNI_ST,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G
0,2015-16,1,101,JAMMU & KASHMIR,KUPWARA,1,13,391,104,875564.0,...,21322,26,2594,3489,5315,27,62,23,852,239
1,2015-16,1,102,JAMMU & KASHMIR,BARAMULA,1,18,678,144,1015503.0,...,17307,0,1571,4127,5800,210,53,30,1665,360
2,2015-16,1,103,JAMMU & KASHMIR,SRINAGAR,1,8,94,65,1269751.0,...,5444,31,408,817,3284,886,11,0,2873,40
3,2015-16,1,104,JAMMU & KASHMIR,BADGAM,1,13,523,104,735753.0,...,12469,18,857,2290,3837,119,45,8,1035,325
4,2015-16,1,105,JAMMU & KASHMIR,PULWAMA,1,8,359,64,570060.0,...,7408,17,855,1688,2584,151,67,5,1101,209
5,2015-16,1,106,JAMMU & KASHMIR,ANANTNAG,1,12,523,96,1070144.0,...,17771,22,3498,2650,5862,152,60,22,1592,185
6,2015-16,1,107,JAMMU & KASHMIR,LEH (LADAKH),1,6,110,49,147104.0,...,1244,0,889,604,1059,45,9,17,473,0
7,2015-16,1,108,JAMMU & KASHMIR,KARGIL,1,7,134,54,143388.0,...,59,0,59,716,1469,69,26,3,220,99
8,2015-16,1,109,JAMMU & KASHMIR,DODA,1,10,388,80,409576.0,...,14641,2474,2272,2073,2354,165,17,36,766,36
9,2015-16,1,110,JAMMU & KASHMIR,UDHAMPUR,1,11,361,86,555357.0,...,18428,6844,2522,2256,3080,520,13,22,1151,6
10,2015-16,1,111,JAMMU & KASHMIR,PUNCH,1,11,187,95,476820.0,...,16903,17,7695,2616,2587,137,18,56,703,24
11,2015-16,1,112,JAMMU & KASHMIR,RAJAURI,1,15,390,120,619266.0,...,20378,1762,9448,2877,3186,400,19,40,1089,15
12,2015-16,1,113,JAMMU & KASHMIR,JAMMU,1,14,861,124,1526406.0,...,13303,6359,1550,2828,4972,3334,15,77,4622,58
13,2015-16,1,114,JAMMU & KASHMIR,KATHUA,1,12,495,98,615711.0,...,7385,3349,1022,2449,2943,859,11,43,1493,17
14,2015-16,1,115,JAMMU & KASHMIR,SHOPIAN,1,4,253,32,265960.0,...,3742,0,598,1128,1657,56,14,12,681,56
15,2015-16,1,116,JAMMU & KASHMIR,BANDIPORA,1,5,205,40,385099.0,...,6797,0,2603,1069,2162,46,51,0,347,137
16,2015-16,1,117,JAMMU & KASHMIR,KISHTWAR,1,7,163,57,231037.0,...,7549,563,1122,1198,1197,41,15,7,341,18
17,2015-16,1,118,JAMMU & KASHMIR,RAMBAN,1,6,139,48,283313.0,...,11708,842,1751,1407,1335,14,13,16,439,3
18,2015-16,1,119,JAMMU & KASHMIR,GANDERBAL,1,4,148,32,297003.0,...,6331,0,2337,1124,1430,44,21,21,782,71
19,2015-16,1,120,JAMMU & KASHMIR,KULGAM,1,6,282,48,422786.0,...,5991,24,621,1442,3161,22,19,1,697,96
20,2015-16,1,121,JAMMU & KASHMIR,REASI,1,6,261,53,314714.0,...,9257,1422,2414,1456,1592,98,5,34,470,0
21,2015-16,1,122,JAMMU & KASHMIR,SAMBA,1,5,318,35,318611.0,...,3790,1818,365,867,1608,483,0,22,934,7
22,2015-16,2,201,HIMACHAL PRADESH,CHAMBA,1,15,1150,266,518844.0,...,39508,9119,10710,4277,403,250,915,472,150,269
23,2015-16,2,202,HIMACHAL PRADESH,KANGRA,1,19,1785,358,1507223.0,...,58676,18607,4448,6040,1502,1792,939,917,1848,512
24,2015-16,2,203,HIMACHAL PRADESH,LAHUL & SPITI,1,4,168,53,31528.0,...,1563,75,1431,476,14,10,95,79,29,29
25,2015-16,2,204,HIMACHAL PRADESH,KULLU,1,6,193,131,437474.0,...,23199,8487,372,2573,590,217,381,265,458,148
26,2015-16,2,205,HIMACHAL PRADESH,MANDI,1,20,1804,380,999518.0,...,48214,19243,781,5868,891,1245,1051,999,707,381
27,2015-16,2,206,HIMACHAL PRADESH,HAMIRPUR (H.P.),1,6,551,105,454293.0,...,17755,6027,280,2195,562,572,413,320,509,200
28,2015-16,2,207,HIMACHAL PRADESH,UNA,1,6,394,102,521057.0,...,23511,7374,521,1905,372,631,292,422,305,163
29,2015-16,2,208,HIMACHAL PRADESH,BILASPUR (H.P.),1,5,519,118,382056.0,...,16937,5603,636,2154,518,318,335,313,326,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
650,2015-16,33,3319,TAMIL NADU,NAGAPATTINAM,1,11,489,100,1614069.0,...,42548,21048,175,4000,1982,830,21,615,533,421
651,2015-16,33,3320,TAMIL NADU,THIRUVARUR,1,10,473,96,1268094.0,...,33607,17914,68,3127,1756,596,11,529,358,301
652,2015-16,33,3321,TAMIL NADU,THANJAVUR,1,15,765,165,2402781.0,...,53710,18581,107,5970,2439,1653,30,1073,661,643
653,2015-16,33,3322,TAMIL NADU,PUDUKKOTTAI,1,13,552,145,1618725.0,...,47525,10929,11,4894,2442,737,15,702,487,459
654,2015-16,33,3323,TAMIL NADU,SIVAGANGA,1,12,615,112,1341250.0,...,31081,7918,0,3739,2354,932,6,624,395,366
655,2015-16,33,3324,TAMIL NADU,MADURAI,1,15,693,165,3041038.0,...,15811,6930,59,6918,3452,3115,6,1299,861,497
656,2015-16,33,3325,TAMIL NADU,THENI,1,8,102,80,1243684.0,...,33952,11312,187,2713,1824,845,0,617,327,207
657,2015-16,33,3326,TAMIL NADU,VIRUDHUNAGAR,1,11,466,134,1943309.0,...,42267,14122,72,5096,2007,878,12,1183,455,460
658,2015-16,33,3327,TAMIL NADU,RAMANATHAPURAM,1,11,1042,121,1337560.0,...,23306,7164,15,3886,1735,773,3,700,486,336
659,2015-16,33,3328,TAMIL NADU,THOOTHUKKUDI,1,13,637,108,1738376.0,...,31972,9981,240,4523,2366,1025,12,977,622,317
660,2015-16,33,3329,TAMIL NADU,TIRUNELVELI,1,21,548,192,3072880.0,...,53737,15079,360,8058,4049,2354,17,1443,608,598
661,2015-16,33,3330,TAMIL NADU,KANNIYAKUMARI,1,9,112,89,1863174.0,...,34102,2390,362,3140,1617,2111,7,1027,1107,520
662,2015-16,33,3331,TAMIL NADU,KRISHANAGIRI,1,10,1201,122,1883731.0,...,42915,9287,984,5353,2375,1557,23,705,815,579
663,2015-16,34,3401,PUDUCHERRY,YANAM,1,1,6,2,55616.0,...,2035,318,0,111,0,0,0,6,137,38
664,2015-16,34,3402,PUDUCHERRY,PONDICHERRY,1,3,95,22,946600.0,...,22349,6976,1,893,515,1750,0,226,1189,120
665,2015-16,34,3403,PUDUCHERRY,MAHE,1,1,6,1,41934.0,...,1430,3,0,69,85,40,12,23,60,10
666,2015-16,34,3404,PUDUCHERRY,KARAIKAL,1,1,38,8,200314.0,...,4849,1590,0,327,196,225,0,41,379,26
667,2015-16,35,3501,A & N ISLANDS,ANDAMANS,1,3,80,16,237586.0,...,4501,0,144,393,366,445,0,24,192,0
668,2015-16,35,3502,A & N ISLANDS,NICOBARS,1,3,42,8,36819.0,...,1325,0,991,105,57,21,0,24,71,0
669,2015-16,35,3503,A & N ISLANDS,MIDDLE AND NORTH ANDAMANS,1,3,76,13,105539.0,...,5748,56,34,397,300,103,0,58,199,0
670,2015-16,36,3601,TELANGANA,ADILABAD,1,52,1555,233,2737738.0,...,88457,18927,24731,7335,4875,68,0,70,3411,1993
671,2015-16,36,3602,TELANGANA,NIZAMABAD,1,36,822,129,2552073.0,...,74156,14279,9722,5533,4188,109,0,91,3182,2296
672,2015-16,36,3603,TELANGANA,KARIMNAGAR,1,57,1045,203,3811738.0,...,93176,23780,5996,6809,5329,123,0,272,4053,3304
673,2015-16,36,3604,TELANGANA,MEDAK,1,46,1214,184,3031877.0,...,107078,25366,9904,7045,4935,247,0,120,3523,2619
674,2015-16,36,3605,TELANGANA,HYDERABAD,1,16,71,48,4010238.0,...,28832,5561,1300,12887,5004,367,0,0,2269,11904
675,2015-16,36,3606,TELANGANA,RANGA REDDY,1,37,876,137,5296396.0,...,93203,25534,9457,7224,8298,529,0,121,15458,3337
676,2015-16,36,3607,TELANGANA,MAHBUBNAGAR,1,64,1458,230,4042191.0,...,134277,31001,14590,8936,7007,179,0,44,3730,3327
677,2015-16,36,3608,TELANGANA,NALGONDA,1,59,1117,216,3483648.0,...,96804,26577,14015,7592,4534,103,0,208,4026,3049
678,2015-16,36,3609,TELANGANA,WARANGAL,1,51,993,211,3522644.0,...,92224,23172,23525,6674,4677,153,0,207,7035,3060
679,2015-16,36,3610,TELANGANA,KHAMMAM,1,41,783,185,2798214.0,...,70234,15593,25217,6047,4015,104,0,32,3103,2228

In [7]:
stat=pd.read_csv("2015_16_Statewise_Elementary.csv")

In [8]:
stat

,AC_YEAR,STATCD,STATNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,P_URB_POP,POPULATION_0_6,...,USCR35,NOTCH_ASS,TCHINV,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G
0,2015-16,1,JAMMU & KASHMIR,22,201,7263,1628,12549,20.05,16.01,...,1014,20491,1946,41171,62474,7878,564,495,24326,2001
1,2015-16,2,HIMACHAL PRADESH,12,124,10120,2243,6857,8.69,11.14,...,652,36054,3053,38307,6930,6909,6498,5445,6151,2717
2,2015-16,3,PUNJAB,22,146,13197,1780,27704,29.82,10.62,...,2754,88618,14200,56222,23531,42532,9244,8406,30835,7218
3,2015-16,4,CHANDIGARH,1,20,84,20,1055,97.25,11.18,...,117,1994,218,135,419,2066,0,36,1398,0
4,2015-16,5,UTTARAKHAND,13,95,11989,995,10117,21.54,13.14,...,1147,12608,1024,48215,14587,7545,12388,6671,1855,3227
5,2015-16,6,HARYANA,21,126,7438,1523,25353,24.12,13.01,...,2485,36544,5420,52975,23273,35337,8686,10503,20136,6481
6,2015-16,7,DELHI,9,69,1201,69,16753,77.03,11.76,...,1818,342025,16445,31334,10627,26042,287,5952,3943,1074
7,2015-16,8,RAJASTHAN,33,302,41441,10594,68621,19.26,15.31,...,11705,40162,2701,125798,253514,120330,979,5189,86126,1720
8,2015-16,9,UTTAR PRADESH,75,971,98470,9423,199581,17.31,14.90,...,25145,43645,6994,746590,99397,24849,297150,42320,6679,12482
9,2015-16,10,BIHAR,38,537,40779,5633,103805,8.36,17.90,...,26429,49110,3614,147323,272919,11332,2481,475,23095,927
10,2015-16,11,SIKKIM,4,29,756,111,608,9.85,10.05,...,21,1785,66,3493,3029,1167,3,46,1390,25
11,2015-16,12,ARUNACHAL PRADESH,20,99,2982,234,1383,16.48,14.66,...,188,5497,504,8564,9020,820,202,304,2022,206
12,2015-16,13,NAGALAND,11,47,1478,125,1981,17.31,14.44,...,233,21056,1454,6588,6152,1772,167,256,3639,781
13,2015-16,14,MANIPUR,9,35,2422,225,2722,21.16,12.98,...,368,51938,2941,10935,6594,1456,247,124,7014,604
14,2015-16,15,MIZORAM,8,36,851,169,1091,40.42,15.17,...,98,4917,1386,6593,3267,0,4575,0,0,0
15,2015-16,16,TRIPURA,8,71,1101,368,3671,14.87,12.10,...,743,18693,601,9961,8411,2669,7,330,3634,34
16,2015-16,17,MEGHALAYA,11,41,6166,609,2964,15.32,18.75,...,535,68369,6546,26899,1276,374,11129,199,971,627
17,2015-16,18,ASSAM,27,145,21833,3416,31169,11.03,14.47,...,4344,103621,7761,128723,14504,3514,41269,4331,15752,5950
18,2015-16,19,WEST BENGAL,21,470,41179,3799,991348,24.55,11.07,...,10496,355224,35326,294360,12365,9728,28340,78017,3910,22878
19,2015-16,20,JHARKHAND,24,260,27862,2264,32966,18.18,15.89,...,5951,30819,3189,92258,125475,7618,556,2004,20625,3254
20,2015-16,21,ODISHA,30,423,39334,4880,41947,13.15,12.00,...,10933,53982,4332,102132,107485,2904,11034,323,13914,16690
21,2015-16,22,CHHATTISGARH,27,146,21834,2664,25540,16.39,14.03,...,4727,61153,5373,105689,21162,12374,41885,1558,4835,4555
22,2015-16,23,MADHYA PRADESH,51,319,54762,3182,72598,21.99,14.53,...,11393,68583,6320,291747,130566,45622,119699,1526,25367,225
23,2015-16,24,GUJARAT,33,253,19877,4307,60384,31.35,12.41,...,7620,10302,2451,40094,250463,20835,5325,1119,7172,404
24,2015-16,25,DAMAN & DIU,2,2,39,7,243,23.61,10.65,...,26,244,16,323,53,188,190,33,59,0
25,2015-16,26,DADRA & NAGAR HAVELI,1,1,70,11,343,14.72,14.35,...,56,15,3,463,1058,195,2,6,95,0
26,2015-16,27,MAHARASHTRA,36,408,43661,5583,112373,36.58,11.43,...,15933,68561,10374,169023,220060,14101,431,41385,24337,46876
27,2015-16,28,ANDHRA PRADESH,13,670,15075,5076,84666,24.58,10.21,...,4613,32948,5093,124687,68730,1835,4,971,13631,60301
28,2015-16,29,KARNATAKA,34,203,29449,4063,61131,29.38,11.21,...,5792,11918,990,78689,229728,11491,2007,480,37513,3434
29,2015-16,30,GOA,2,12,530,111,1458,46.00,9.57,...,178,3204,298,2950,453,319,45,30,2057,1387
30,2015-16,31,LAKSHADWEEP,1,3,10,9,64,41.86,11.00,...,0,2395,209,139,150,49,15,28,11,0
31,2015-16,32,KERALA,14,166,1907,1375,33388,24.76,9.95,...,1418,3561,675,51419,43025,31335,5327,15449,17752,3936
32,2015-16,33,TAMIL NADU,30,413,19301,4092,72139,38.10,9.56,...,6594,37034,4699,158846,77998,59873,490,30542,25761,15126
33,2015-16,34,PUDUCHERRY,4,6,145,33,1244,52.12,10.25,...,87,0,0,1400,796,2015,12,296,1765,194
34,2015-16,35,A & N ISLANDS,3,9,198,37,380,30.58,10.40,...,22,945,126,895,723,569,0,106,462,0
35,2015-16,36,TELANGANA,10,459,9934,1776,352,38.67,39.20,...,4823,18295,4418,76082,52862,1982,0,1165,49790,37117

In [9]:
stats=pd.read_csv("2015_16_Statewise_Secondary.csv")

In [10]:
stats

,ac_year,statcd,statname,area_sqkm,tot_population,urban_population,grwoth_rate,sexratio,sc_population,st_population,...,tchmed_nr,tchoth_nr,tchse_nr,tchnr_nr,enrc7_py,enrc8_py,enrc9_py,enrc10_py,enr11_py,enr12_py
0,2015-16,1,Jammu And Kashmir,222236.0,12548.93,20.05,23.71,883.0,7.4,11.9,...,0,0,0,0,199954,203537,192567,146066,138963,116187
1,2015-16,2,Himachal Pradesh,55673.0,6856.51,8.69,12.81,974.0,25.2,5.7,...,0,0,0,0,122101,122413,130258,135253,119932,98924
2,2015-16,3,Punjab,50362.0,27704.24,29.82,13.73,893.0,31.9,0.0,...,0,0,0,0,481982,473349,451412,426034,351639,342835
3,2015-16,4,Chandigarh,114.0,1054.69,76.66,17.10,818.0,18.9,0.0,...,0,0,0,0,21344,21321,21545,16708,20948,17943
4,2015-16,5,Uttarakhand,53483.0,10116.75,21.54,19.17,963.0,18.8,2.9,...,0,0,0,0,193393,193890,197590,200769,150799,162100
5,2015-16,6,Haryana,44212.0,25353.08,24.12,19.90,877.0,20.2,0.0,...,0,0,0,0,487156,476340,447347,416612,321562,311839
6,2015-16,7,Delhi,1483.0,16753.24,77.03,20.96,866.0,16.8,0.0,...,0,0,0,0,372615,366552,397640,254503,320633,241144
7,2015-16,8,Rajasthan,342239.0,68621.01,19.26,21.44,926.0,17.8,13.5,...,0,0,0,0,1288305,1224944,1192043,1128129,745354,820232
8,2015-16,9,Uttar Pradesh,240928.0,199581.48,17.31,20.09,908.0,20.7,0.6,...,0,0,0,112,3675032,3692986,3372729,3331344,2700413,2541247
9,2015-16,10,Bihar,94163.0,103804.64,8.36,25.07,916.0,15.9,1.3,...,0,0,0,889,2293249,2122733,1616397,1421772,562075,519438
10,2015-16,11,Sikkim,7096.0,607.69,9.85,12.36,889.0,4.6,33.8,...,0,0,0,0,14624,14716,15293,10151,9207,7287
11,2015-16,12,Arunachal Pradesh,83743.0,1382.61,16.48,25.92,920.0,0.0,68.8,...,0,0,0,0,33824,32123,29107,23676,19490,15579
12,2015-16,13,Nagaland,16579.0,1980.60,17.31,-0.47,931.0,0.0,86.5,...,0,0,0,0,37409,35207,32771,20241,15213,12897
13,2015-16,14,Manipur,22327.0,2721.76,21.16,18.65,987.0,3.8,35.1,...,0,0,0,0,50941,49619,43564,40731,28369,28908
14,2015-16,15,Mizoram,21081.0,1091.01,40.42,22.78,975.0,0.1,94.4,...,0,0,0,0,22945,21783,20964,19747,11890,10672
15,2015-16,16,Tripura,10486.0,3671.03,14.87,14.75,961.0,17.8,31.8,...,0,0,0,0,66716,66087,87312,59662,29520,26840
16,2015-16,17,Meghalaya,22429.0,2964.01,15.32,27.82,986.0,0.6,86.1,...,0,0,0,0,71536,66036,56199,43331,22372,22122
17,2015-16,18,Assam,78438.0,31169.27,11.03,16.93,954.0,7.2,12.4,...,0,0,0,0,593778,578038,535405,406365,186269,190630
18,2015-16,19,West Bengal,88752.0,91347.74,24.55,13.93,947.0,23.5,5.8,...,0,0,0,11,1651858,1568742,1505449,1125441,848918,747909
19,2015-16,20,Jharkhand,79714.0,32966.24,18.18,22.34,947.0,12.1,26.2,...,0,1,0,0,686237,670633,536645,477383,288494,273585
20,2015-16,21,Odisha,155707.0,41947.36,13.15,13.97,978.0,17.1,22.8,...,0,0,0,0,720385,698267,632564,592997,13086,11644
21,2015-16,22,Chhattisgarh,135191.0,25540.20,16.39,22.59,991.0,12.8,30.6,...,0,0,0,0,552685,543418,555732,436551,269160,286756
22,2015-16,23,MADHYA PRADESH,308245.0,72597.57,21.99,20.30,930.0,15.6,21.1,...,0,0,0,0,1597879,1561485,1485088,1059059,614002,662257
23,2015-16,24,Gujarat,196024.0,60383.63,31.35,19.17,918.0,6.7,14.8,...,0,0,0,0,1123477,1077290,908982,834748,504547,480109
24,2015-16,25,Daman & Diu,112.0,242.91,23.61,53.54,618.0,2.5,6.3,...,0,0,0,0,3295,3273,3094,2905,1655,2040
25,2015-16,26,Dadra & Nagar Haveli,491.0,342.85,14.72,55.50,775.0,1.8,52.0,...,0,0,0,0,7812,7426,6732,5884,2419,2584
26,2015-16,27,Maharashtra,307713.0,112372.97,36.58,15.99,925.0,11.8,9.4,...,0,0,0,0,2025165,1956811,1970514,1694545,1313517,1201964
27,2015-16,28,Andhra Pradesh,275045.0,84665.53,24.58,11.10,992.0,16.4,7.0,...,0,0,0,0,708092,681449,654648,621042,434511,387303
28,2015-16,29,Karnataka,191791.0,61130.70,29.38,15.67,968.0,17.1,7.0,...,4,0,0,390,991606,990403,916784,850206,368729,311613
29,2015-16,30,Goa,3702.0,1457.72,46.00,8.17,968.0,1.7,10.2,...,0,0,0,0,24267,24390,30620,20677,18876,16170
30,2015-16,31,Lakshadweep,32.0,64.43,41.86,6.23,946.0,0.0,94.8,...,0,0,0,0,1118,1202,1486,1459,1026,964
31,2015-16,32,Kerala,38863.0,33387.68,24.76,4.86,1084.0,9.1,1.5,...,0,0,0,2,525230,541423,563010,542420,395041,373520
32,2015-16,33,Tamil Nadu,130058.0,72138.96,38.10,15.60,995.0,20.0,1.1,...,0,0,0,0,1157542,1190283,1122807,1103740,874768,840168
33,2015-16,34,Puducherry,479.0,1244.46,52.12,27.72,1038.0,15.7,0.0,...,0,0,0,0,22365,22249,23873,22494,17017,15274
34,2015-16,35,Andaman & Nicobar Islands,8249.0,379.94,30.58,6.68,878.0,0.0,7.5,...,0,0,0,0,6359,6458,7039,5903,6555,5259
35,2015-16,36,Telangana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,583034,550441,530002,505184,345818,321752

In [11]:
dist.max()

AC_YEAR               2015-16
STATCD                     36
DISTCD                   3610
STATNAME          WEST BENGAL
DISTNAME            ZUNHEBOTO
DISTRICTS                   1
BLOCKS                     66
VILLAGES                 3963
CLUSTERS                  592
TOTPOPULAT        1.10541e+07
P_URB_POP                 100
POPULATION_0_6    1.25685e+06
GROWTHRATE             111.01
SEXRATIO                 1176
P_SC_POP                50.17
P_ST_POP                98.58
OVERALL_LI              98.76
FEMALE_LIT              98.28
MALE_LIT                99.24
AREA_SQKM               45674
TOT_6_10_15            967257
TOT_11_13_15           580774
SCH1                     7973
SCH2                     3268
SCH3                     1723
SCH4                     1626
SCH5                      636
SCH6                     1500
SCH7                     1153
SCH9                        0
                     ...
TCH_5758F                 986
TCH_5758T                1886
TCH_5960M                 525
TCH_5960F                 321
TCH_5960T                 725
PPTR30                   2943
UPTR35                    859
PSCR30                   2592
USCR35                   1357
NOTCH_ASS              107415
TCHINV                  11358
PTXT_ALL               687917
PTXT_SC                224006
PTXT_ST                202834
PUNI_ALL               571909
PUNI_SC                186508
PUNI_ST                193954
UTXT_ALL               604735
UTXT_SC                179550
UTXT_ST                 91859
UUNI_ALL               511213
UUNI_SC                153047
UUNI_ST                 68723
TOTCLS1G                24728
TOTCLS2G                25677
TOTCLS3G                16053
TOTCLS4G                 8590
TOTCLS5G                 8074
TOTCLS6G                15458
TOTCLS7G                11904
Length: 819, dtype: object

In [12]:
dist.STATNAME.max()

'WEST BENGAL'

In [13]:
dist.STATNAME.min()

'A & N ISLANDS'

In [14]:
dist.DISTNAME.max()

'ZUNHEBOTO'

In [15]:
dist.DISTNAME.min()

'ADILABAD'

In [16]:
v=dist.groupby(['STATNAME','DISTNAME','VILLAGES']).size()

In [17]:
v

STATNAME           DISTNAME                     VILLAGES
A & N ISLANDS      ANDAMANS                     80          1
                   MIDDLE AND NORTH ANDAMANS    76          1
                   NICOBARS                     42          1
ANDHRA PRADESH     ANANTAPUR                    916         1
                   CHITTOOR                     1372        1
                   EAST GODAVARI                1447        1
                   GUNTUR                       718         1
                   KRISHNA                      927         1
                   KURNOOL                      904         1
                   Kadapa                       835         1
                   NELLORE                      1044        1
                   PRAKASAM                     957         1
                   SRIKAKULAM                   1521        1
                   VISAKHAPATNAM                2197        1
                   VIZIANAGARAM                 1366        1
                   WEST GODAVARI                871         1
ARUNACHAL PRADESH  Anjaw                        90          1
                   CHANGLANG                    305         1
                   DIBANG VALLEY                26          1
                   EAST KAMENG                  271         1
                   EAST SIANG                   93          1
                   KRA DADI                     145         1
                   KURUNG KUMEY                 159         1
                   LOHIT                        62          1
                   LONGDING                     62          1
                   LOWER DIBANG VALLEY          86          1
                   LOWER SUBANSIRI              157         1
                   NAMSAI                       160         1
                   PAPUM PARE                   312         1
                   SIANG                        91          1
                                                           ..
UTTARAKHAND        DEHRADUN                     953         1
                   GARHWAL                      1735        1
                   HARDWAR                      671         1
                   NAINITAL                     1040        1
                   PITHORAGARH                  948         1
                   RUDRAPRAYAG                  537         1
                   TEHRI GARHWAL                1468        1
                   UDHAM SINGH NAGAR            683         1
                   UTTARKASHI                   662         1
WEST BENGAL        ALIPURDUAR                   776         1
                   BANKURA                      2179        1
                   BARDDHAMAN                   3175        1
                   BIRBHUM                      1704        1
                   DAKSHIN DINAJPUR             920         1
                   DARJILING                    876         1
                   HAORA                        1666        1
                   HUGLI                        2301        1
                   JALPAIGURI                   1107        1
                   KOCH BIHAR                   1634        1
                   KOLKATA                      141         1
                   MALDAH                       1848        1
                   MURSHIDABAD                  3142        1
                   NADIA                        2227        1
                   NORTH TWENTY FOUR PARGANAS   3042        1
                   PASCHIM MEDINIPUR            3430        1
                   PURBA MEDINIPUR              3963        1
                   PURULIYA                     1743        1
                   SILIGURI                     371         1
                   SOUTH  TWENTY FOUR PARGANAS  3803        1
                   UTTAR DINAJPUR               1131        1
Length: 680, dtype: int64

In [20]:
# plotly
import plotly.plotly as py
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)
import plotly.graph_objs as go

In [22]:
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../edu"))

# Any results you write to the current directory are saved as output.

['.ipynb_checkpoints', '2015_16_Districtwise.csv', '2015_16_Districtwise_Metadata.csv', '2015_16_Statewise_Elementary.csv', '2015_16_Statewise_Elementary_Metadata.csv', '2015_16_Statewise_Secondary.csv', '2015_16_Statewise_Secondary_Metadata.csv', 'project.ipynb']

In [24]:
df_ele = pd.read_csv('../edu/2015_16_Statewise_Elementary.csv')
df_ele.shape

(36, 816)

In [25]:
df_sec = pd.read_csv('../edu/2015_16_Statewise_Secondary.csv')
df_sec.shape

(36, 630)

In [26]:
df_ele.columns

Index(['AC_YEAR', 'STATCD', 'STATNAME', 'DISTRICTS', 'BLOCKS', 'VILLAGES',
       'CLUSTERS', 'TOTPOPULAT', 'P_URB_POP', 'POPULATION_0_6',
       ...
       'USCR35', 'NOTCH_ASS', 'TCHINV', 'TOTCLS1G', 'TOTCLS2G', 'TOTCLS3G',
       'TOTCLS4G', 'TOTCLS5G', 'TOTCLS6G', 'TOTCLS7G'],
      dtype='object', length=816)

In [27]:
df_sec.columns

Index(['ac_year', 'statcd', 'statname', 'area_sqkm', 'tot_population',
       'urban_population', 'grwoth_rate', 'sexratio', 'sc_population',
       'st_population',
       ...
       'tchmed_nr', 'tchoth_nr', 'tchse_nr', 'tchnr_nr', 'enrc7_py',
       'enrc8_py', 'enrc9_py', 'enrc10_py', 'enr11_py', 'enr12_py'],
      dtype='object', length=630)

In [28]:
df_sec.head(2)

,ac_year,statcd,statname,area_sqkm,tot_population,urban_population,grwoth_rate,sexratio,sc_population,st_population,...,tchmed_nr,tchoth_nr,tchse_nr,tchnr_nr,enrc7_py,enrc8_py,enrc9_py,enrc10_py,enr11_py,enr12_py
0,2015-16,1,Jammu And Kashmir,222236.0,12548.93,20.05,23.71,883.0,7.4,11.9,...,0,0,0,0,199954,203537,192567,146066,138963,116187
1,2015-16,2,Himachal Pradesh,55673.0,6856.51,8.69,12.81,974.0,25.2,5.7,...,0,0,0,0,122101,122413,130258,135253,119932,98924

In [29]:
display(df_ele['STATNAME'].unique())

array(['JAMMU & KASHMIR', 'HIMACHAL PRADESH', 'PUNJAB', 'CHANDIGARH',
       'UTTARAKHAND', 'HARYANA', 'DELHI', 'RAJASTHAN', 'UTTAR PRADESH',
       'BIHAR', 'SIKKIM', 'ARUNACHAL PRADESH', 'NAGALAND', 'MANIPUR',
       'MIZORAM', 'TRIPURA', 'MEGHALAYA', 'ASSAM', 'WEST BENGAL',
       'JHARKHAND', 'ODISHA', 'CHHATTISGARH', 'MADHYA PRADESH', 'GUJARAT',
       'DAMAN & DIU', 'DADRA & NAGAR HAVELI', 'MAHARASHTRA',
       'ANDHRA PRADESH', 'KARNATAKA', 'GOA', 'LAKSHADWEEP', 'KERALA',
       'TAMIL NADU', 'PUDUCHERRY', 'A & N ISLANDS', 'TELANGANA'],
      dtype=object)

In [30]:
display(df_sec['statname'].unique())

array(['Jammu And Kashmir', 'Himachal Pradesh', 'Punjab', 'Chandigarh',
       'Uttarakhand', 'Haryana', 'Delhi                         ',
       'Rajasthan                     ', 'Uttar Pradesh', 'Bihar',
       'Sikkim', 'Arunachal Pradesh', 'Nagaland', 'Manipur',
       'Mizoram                       ', 'Tripura',
       'Meghalaya                     ', 'Assam',
       'West Bengal                   ', 'Jharkhand', 'Odisha',
       'Chhattisgarh', 'MADHYA PRADESH', 'Gujarat',
       'Daman & Diu                   ', 'Dadra & Nagar Haveli          ',
       'Maharashtra', 'Andhra Pradesh                ', 'Karnataka',
       'Goa                           ', 'Lakshadweep                   ',
       'Kerala', 'Tamil Nadu', 'Puducherry',
       'Andaman & Nicobar Islands     ', 'Telangana'], dtype=object)

In [31]:
df_ele.describe()

,STATCD,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,P_URB_POP,POPULATION_0_6,GROWTHRATE,SEXRATIO,...,USCR35,NOTCH_ASS,TCHINV,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,...,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,18.500000,18.888889,203.250000,16520.500000,2289.833333,58626.333333,27.678889,13.480556,19.990556,930.888889,...,4734.944444,47397.500000,4465.722222,85583.944444,60085.444444,14434.027778,16978.833333,7392.222222,13556.166667,7290.305556
std,10.535654,15.947732,220.756928,21166.739773,2645.161756,165584.055709,18.354991,5.006451,11.455856,79.126581,...,6661.737975,78980.702294,6572.247146,136154.174595,84318.421284,23541.908405,52698.821185,16163.813519,17501.644852,13838.799946
min,1.000000,1.000000,1.000000,10.000000,7.000000,64.000000,8.360000,9.560000,-0.470000,618.000000,...,0.000000,0.000000,0.000000,135.000000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.750000,8.000000,35.750000,1038.500000,121.500000,1348.250000,16.457500,10.912500,13.880000,904.250000,...,185.500000,4578.000000,576.750000,6591.750000,3207.500000,1383.750000,37.500000,180.250000,1832.500000,203.000000
50%,18.500000,13.500000,135.500000,8686.000000,1575.500000,14651.000000,22.800000,12.255000,18.910000,946.500000,...,1618.000000,25937.500000,2821.000000,44693.000000,14545.500000,5211.500000,560.000000,733.000000,6415.000000,1553.500000
75%,27.250000,27.750000,306.250000,23341.000000,3865.000000,60570.750000,32.657500,14.562500,22.637500,975.750000,...,6111.750000,52449.000000,5384.750000,110438.500000,83347.750000,15784.500000,8825.500000,5571.750000,21242.500000,6082.750000
max,36.000000,75.000000,971.000000,98470.000000,10594.000000,991348.000000,97.250000,39.200000,55.500000,1084.000000,...,26429.000000,355224.000000,35326.000000,746590.000000,272919.000000,120330.000000,297150.000000,78017.000000,86126.000000,60301.000000

In [32]:
#Elementary, Secondary literacy rate in India

In [33]:
trace1 = go.Scatter(
      x = df_ele.STATNAME,
      y = df_ele.OVERALL_LI,
)

trace2 = go.Scatter(
    x=df_sec.statname,
    y=df_sec.literacy_rate,
    xaxis='x2',
    yaxis='y2'
)
data = [trace1, trace2]
layout = go.Layout(
    xaxis=dict(
        domain=[0, 0.45],
    ),
    yaxis=dict(
        domain=[0, 0.45]
    ),
    xaxis2=dict(
        domain=[0.55, 1]
    ),
    yaxis2=dict(
        domain=[0, 0.45],
        anchor='x2'
    )
)
fig = go.Figure(data=data, layout=layout)
iplot(fig)

In [34]:
#Literacy rate in an elementary Schools

In [35]:
literacy_data = df_ele.loc[:,['STATNAME','OVERALL_LI','MALE_LIT','FEMALE_LIT']]
literacy_data.head(5)

           STATNAME  OVERALL_LI  MALE_LIT  FEMALE_LIT
0   JAMMU & KASHMIR       68.74     78.26       58.01
1  HIMACHAL PRADESH       83.78     90.83       76.60
2            PUNJAB       76.68     81.48       71.34
3        CHANDIGARH       86.43     90.54       81.38
4       UTTARAKHAND       79.63     88.33       70.70

In [36]:
#Literacy rate in an Secondary Schools

In [37]:
literacy_data_sec = df_sec.loc[:,['statname','literacy_rate','male_literacy_rate','female_literacy_rate']]
literacy_data_sec.head(5)

            statname  literacy_rate  male_literacy_rate  female_literacy_rate
0  Jammu And Kashmir          68.74               78.26                 58.01
1   Himachal Pradesh          83.78               90.83                 76.60
2             Punjab          76.68               81.48                 71.34
3         Chandigarh          86.43               90.54                 81.38
4        Uttarakhand          79.63               88.33                 70.70

In [39]:
#India's Elelmentary, Secondary Literacy rate (overall, male, female) in one plot

In [40]:
# Create and style traces
trace0 = go.Scatter(
    x = df_ele.STATNAME,
    y = df_ele.OVERALL_LI,
    mode = "lines+markers",
    name = 'Elementary literacy',
    line = dict(
        color = ('rgba(255,10,10, 0.8)'),
        width = 1)
)
trace1 = go.Scatter(
    x = df_ele.STATNAME,
    y = df_ele.MALE_LIT,
    mode = "lines+markers",
    name = 'Elelmentary male literacy',
    line = dict(
        width = 1)
)
trace2 = go.Scatter(
    x = df_ele.STATNAME,
    y = df_ele.FEMALE_LIT,
    mode = "lines+markers",
    name = 'Elelmentary female literacy',
    line = dict(
        width = 1,
        dash = 'dash') # dash options include 'dash', 'dot', and 'dashdot'
)

trace3 = go.Scatter(
    x = df_ele.STATNAME,
    y = df_sec.literacy_rate,
    mode = "lines+markers",
    name = 'secondary literacy rate',
    line = dict(
        width = 1,
        dash = 'dash')
)
trace4 = go.Scatter(
    x = df_ele.STATNAME,
    mode = "lines+markers",
    y = df_sec.male_literacy_rate,
    name = 'secondary male literacy rate',
    line = dict(
        width = 1,
        dash = 'dot')
)
trace5 = go.Scatter(
    x = df_ele.STATNAME,
    y = df_sec.female_literacy_rate,
    mode = "lines+markers",
    name = 'secondary female literacy rate',
    line = dict(
        width = 1,
        dash = 'dot')
)
data = [trace0, trace1, trace2, trace3, trace4, trace5]

# Edit the layout
layout = dict(title = 'Statewise literacy rate in India',
                      xaxis= dict(
                          ticklen= 5,
                          tickangle=90,
                          zeroline= False),

                      yaxis=dict(
                            title='Statewise literacy rate'
                        )
                     )

fig = dict(data=data, layout=layout)
iplot(fig)

In [41]:
#add columns total_number of district
district_dic = {'WEST BENGAL':23,
'UTTARAKHAND':13,
'UTTAR PRADESH':75,
'TRIPURA':8,
'TELANGANA':31,
'TAMIL NADU':32,
'SIKKIM':4,
'RAJASTHAN':33,
'PUNJAB':22,
'PUDUCHERRY':4,
'ODISHA':30,
'DELHI':11,
'NAGALAND':11,
'MIZORAM':8,
'MEGHALAYA':11,
'MANIPUR':16,
'MAHARASHTRA':36,
'MADHYA PRADESH':51,
'LAKSHADWEEP':1,
'KERALA':14,
'KARNATAKA':30,
'JHARKHAND':24,
'JAMMU & KASHMIR':22,
'HIMACHAL PRADESH':12,
'HARYANA':22,
'GUJARAT':33,
'GOA':2,
'DAMAN & DIU':2,
'DADRA & NAGAR HAVELI':1,
'CHHATTISGARH':27,
'CHANDIGARH':1,
'BIHAR':38,
'ASSAM':33,
'ARUNACHAL PRADESH':21,
'ANDHRA PRADESH':13,
'A & N ISLANDS':3}

In [42]:
df_ele['TOT_DISTRICT'] = df_ele['STATNAME'].map(district_dic)

In [43]:
#df_ele['PER_DIST'] = df_ele.apply(lambda x: (df_ele['DISTRICTS']*100)/df_ele['TOT_DISTRICT'])
df_ele['PER_DIST'] = (df_ele.DISTRICTS * 100)/df_ele.TOT_DISTRICT
df_ele.head(2)

,AC_YEAR,STATCD,STATNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,P_URB_POP,POPULATION_0_6,...,TCHINV,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G,TOT_DISTRICT,PER_DIST
0,2015-16,1,JAMMU & KASHMIR,22,201,7263,1628,12549,20.05,16.01,...,1946,41171,62474,7878,564,495,24326,2001,22,100.0
1,2015-16,2,HIMACHAL PRADESH,12,124,10120,2243,6857,8.69,11.14,...,3053,38307,6930,6909,6498,5445,6151,2717,12,100.0

In [44]:
#Lets check Reported Data from How many Districts from each state for elementary literacy rate

In [45]:
x = df_ele.STATNAME

# Creating trace1
trace1 = go.Scatter(
                    x = x,
                    y = df_ele.PER_DIST,
                    mode = "lines+markers",
                    name = "District count",
                    text= df_ele.STATNAME)

data = [trace1]
layout = dict(title = 'Data reported from District (in %) from each state',
              xaxis= dict(
                  ticklen= 5,
                  tickangle=90,
                  zeroline= False),
                  
              yaxis=dict(
                    title='Data reported from District (in %)'
                )
             )
fig = dict(data = data, layout = layout)
iplot(fig)

In [46]:
#Observations: Looks like Manipur, Telangana, Delhi, Assam, west bengal data are not accurate to judge literacy rate. Many districts have not reported their elementary school education data

In [47]:
# Creating trace1
trace1 = go.Scatter(
                    x = df_ele.STATNAME,
                    y = df_ele.TOT_6_10_15,
                    mode = "lines+markers",
                    name = "Age Group 6 to 10",
                    text= df_ele.STATNAME)
trace2 = go.Scatter(
                    x = df_ele.STATNAME,
                    y = df_ele.TOT_11_13_15,
                    mode = "lines+markers",
                    name = "Age Group 11 to 13",
                    text= df_ele.STATNAME
                    )
                    
trace3 = go.Scatter(
                    x = df_ele.STATNAME,
                    y = df_ele.OVERALL_LI,
                    mode = "lines+markers",
                    name = "Overall Literacy",
                    text= df_ele.STATNAME,
                    yaxis='y2')

data = [trace1, trace2, trace3]
layout = dict(title = 'Projected Population vs Literacy',
              xaxis= dict(
                  ticklen= 5,
                  tickangle=90,
                  zeroline= False),
                  
              yaxis=dict(
                    title='Projected Population'
                ),
              yaxis2=dict(
              title='Overall Literacy',
              titlefont=dict(
               color='rgb(148, 103, 189)'
              ),
              tickfont=dict(
              color='rgb(148, 103, 189)'
           ),
             overlaying='y',
             side='right'
         )
       )

fig = dict(data = data, layout = layout)
iplot(fig)

In [49]:
#Quick observation from above plot is population vs Overall Literacy

#we can clearly see that Kerala is higest in terms of literacy. where in Bihar is worse

In [50]:
# Creating trace1
trace1 = go.Scatter(
                    x = df_ele.STATNAME,
                    y = df_ele.SCHTOT,
                    mode = "lines+markers",
                    name = "total schools",
                    text= df_ele.STATNAME)
trace2 = go.Scatter(
                    x = df_ele.STATNAME,
                    y = df_ele.SCHTOTG,
                    mode = "lines+markers",
                    name = "Schools by Category: Government: Total",
                    text= df_ele.STATNAME)
trace3 = go.Scatter(
                    x = df_ele.STATNAME,
                    y = df_ele.SCHTOTP,
                    mode = "lines+markers",
                    name = "Schools by Category: Private : Total",
                    text= df_ele.STATNAME)
trace4 = go.Scatter(
                    x = df_ele.STATNAME,
                    y = df_ele.OVERALL_LI,
                    mode = "lines+markers",
                    name = "Overall Literacy",
                    text= df_ele.STATNAME,
                    yaxis='y2')


data = [trace1, trace2, trace3, trace4]
layout = dict(title = 'School type',
              xaxis= dict(
                  ticklen= 5,
                  tickangle=90,
                  zeroline= False),
                  
              yaxis=dict(
                    title='School type'
                ),
             yaxis2=dict(
              title='Overall Literacy',
              titlefont=dict(
               color='rgb(148, 103, 189)'
              ),
              tickfont=dict(
              color='rgb(148, 103, 189)'
                    ),
             overlaying='y',
             side='right'
         )
    )

fig = dict(data = data, layout = layout)
iplot(fig)